<!doctype html>
<html lang="es">
<head>
  <title>Panel de administración</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      loadDoc("/reservas/confirmadas");
    });

    function loadDoc(path) {
      $("#container").load(path);
    }

    function home() {
      $(document).load("/");
    }

    function abrirModal(id) {
      document.getElementById(id).style.display = 'block'
    }
  </script>
  <style>
    #titulo {font-family: "Amatic SC", sans-serif}
  </style>
</head>
<body>
<div class="w3-bar w3-blue">
  <a class="w3-bar-item w3-button w3-large w3-hover-black" href="/" id="titulo"><span class="w3-text-white w3-hide-small"><b>La Bella <span class="w3-text-green">It</span>al<span class="w3-text-red">ia</span></b></span></a>
  <a href="#" class="w3-bar-item w3-button w3-large" onclick="loadDoc('/reservas/confirmadas');">Reservas confirmadas</a>
  <a href="#" class="w3-bar-item w3-button w3-large" onclick="loadDoc('/reservas');">Reservas pendientes</a>
  <a href="#" class="w3-bar-item w3-button w3-large" onclick="loadDoc('/platos');">Editar menú</a>
  <a href="/logout" class="w3-bar-item w3-button w3-large w3-display-topright">Cerrar sesión</a>
</div>
<div id="container" class="w3-container w3-margin"></div>
</body>
</html>