<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
  <title th:text="${accion} + ' ' + ${plato.nombre}"></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    $(document).ready(function () {

      $("#plato-introducido").change(function () {
        $("#confirmar").prop("disabled", $("#nombre").text() != $("#plato-introducido").val());
      });

      $("#confirmar").click(function () {
        $.ajax({
          type: "DELETE",
          url: "/platos/" + $("#confirmar").attr("idplato"),
          success: function (data) {
            $(location).attr('href', "/platos");
          },
          error: function () {
            alert("Algo ha ido mal, prueba más adelante")
          },
        });
      });

    });
  </script>
</head>
<body>
<h2 th:text="${accion} + ' plato'"></h2>
<label for="plato-introducido">
  Escribe <b th:text="${plato.nombre}" id="nombre"></b> y presiona enter para poder
  <span th:text="${accion}"></span> el plato:
</label><br>
<input id="plato-introducido" type="text"><br>
<button id="confirmar" th:attr="idplato=${plato.id}" disabled>Confirmar</button>
</body>
</html>