<div th:each="c : ${categorias}">
  <h3 th:text="${c}"></h3>
  <table class="w3-table-all w3-card-4">
    <tr>
      <th>Nombre</th>
      <th>Ingredientes</th>
      <th>Precio</th>
      <th>Etiqueta</th>
    </tr>
    <tr th:each="p : ${#vars.getVariable(c)}">
      <td th:text="${p.nombre}"></td>
      <td>
        <ul th:each="i : ${p.ingredientes}" class="w3-ul">
          <li th:text="${i}"></li>
        </ul>
      </td>
      <td th:text="${p.precio}"></td>
      <td th:text="${p.etiqueta}"></td>
      <td>
        <button class="w3-button w3-blue" th:attr="id-plato=${p.id}" onclick="modificar(this);">
          Modificar
        </button>
        <button class="w3-button w3-red" th:attr="id-plato=${p.id}" onclick="borrar(this);">Borrar
        </button>
      </td>
    </tr>
  </table>
  <script>
    function modificar(elem) {
      console.log(elem);
      loadDoc('/platos/modificar/' + elem.getAttribute('id-plato'));
    }

    function borrar(elem) {
      console.log(elem);
      loadDoc('/platos/borrar/' + elem.getAttribute('id-plato'));
    }
  </script>
</div>
<br/>
<button class="w3-button w3-blue w3-block" onclick="loadDoc('/platos/nuevo');">Nuevo plato</button>
