<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Platos</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Platos</h2>
<form action="#" th:action="@{/platos}" th:object="${plato}" method="post">
  <input id="id" type="text" th:field="*{id}" hidden>
  <label for="nombre">Nombre:</label><br>
  <input id="nombre" type="text" th:field="*{nombre}" required><br>
  <label for="categoria">Categoría:</label><br>
  <select id="categoria" th:field="*{categoria}" required>
    <!-- todo insertar opción por defecto vacía -->
    <!--<option disabled selected value> &#45;&#45; elige una opción &#45;&#45; </option>-->
    <option th:each="c : ${categorias}" th:attr="value=${c}" th:text="${c}"></option>
  </select><br>
  <label for="ingredientes">Ingredientes (separados por una coma):</label><br>
  <input id="ingredientes" type="text" th:field="*{ingredientes}" multiple required><br>
  <label for="precio">Precio:</label><br>
  <input id="precio" type="number" th:field="*{precio}" required><br>
  <label for="etiqueta">Categoría:</label><br>
  <select id="etiqueta" th:field="*{etiqueta}">
    <option value=""></option>
    <option th:each="e : ${etiquetas}" th:attr="value=${e}" th:text="${e}"></option>
  </select><br>
  <input type="submit" value="Guardar">
</form>
</body>
</html>
