<!DOCTYPE html>
<html lang="es">
<head>
  <title>Reservas confirmadas</title>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    $(document).on("click", ".confirmar", function () {
      const id = $(this).attr("reserva-id");
      console.log("Confirmando " + id);
      enviar("confirmar", id);
    });
    $(document).on("click", ".rechazar", function () {
      const id = $(this).attr("reserva-id");
      console.log("Rechazando " + id);
      enviar("rechazar", id);
    });

    function enviar(accion, id) {
      $.ajax({
        type: "POST",
        url: "http://localhost:8080/reservas/" + id + "/" + accion,
        success: function (data) {
          console.log("ta to bien");
          location.reload();
        },
        error: function () {
          alert("Algo ha ido mal...")
        },
      })
    }
  </script>
</head>
<body>
<h2>Reservas confirmadas <span th:text="${dia}"></span></h2>
<table>
  <tr>
    <th>Hora</th>
    <th>Nombre</th>
    <th>Mail</th>
    <th>Teléfono</th>
    <th>Número de comensales</th>
    <th>Peticiones</th>
  </tr>
  <tr th:each="r:${reservas}" th:attr="id=${r.id}">
    <td th:text="${r.hora}"></td>
    <td th:text="${r.nombre}"></td>
    <td th:text="${r.mail}"></td>
    <td th:text="${r.telefono}"></td>
    <td th:text="${r.numeroComensales}"></td>
    <td th:text="${r.peticiones}"></td>
  </tr>
</table>

<a
    th:each="i : ${#numbers.sequence(0, last, 1)}"
    th:attr="href='/reservas/hoy?pagina=' + ${i}"
    th:text="${i + 1}" th:class="${i == current} ? selected-true : selected-false "
></a>
</body>
</html>
