<script>
  $(document).ready(function () {
    $("#enviarReserva").click(function () {

      const array = $("#formReserva").serializeArray();
      const json = {};
      $.each(array, function () {
        json[this.name] = "" + this.value || "";
      });
      json["confirmada"] = $("#fconf").prop("checked");
      const id = $("#fid").val();
      json["id"] = id;
      const method = id != null && id !== "" ? "PUT" : "POST";
      $.ajax({
        type: method,
        url: "/reservas/" + id,
        data: JSON.stringify(json),
        contentType: "application/json; charset=utf-8",
        success: function () {
          cerrarModal();
          recuperarReservas();
        },
        error: function () {
          alert("Parece que algo ha ido mal, prueba más tarde...")
        },
      });
    });
  });

  function recuperarReservas() {
    loadDoc("/reservas/confirmadas?dia=" + $("#sel-dia").val());
  }

  // recuperarReservas
  $(document).on("click", "#buscar-dia", function () {
    recuperarReservas();
  });

  function saltaPaginaConf(elem) {
    loadDoc("/reservas/confirmadas?dia=" + $("#dia-seleccionado").text()
        + "&pagina=" + elem.getAttribute("pag"));
  }

  function cerrarModal() {
    document.getElementById('id01').style.display = 'none'
    $("#fid").val(null);
    $("#fnombre").val(null);
    $("#fmail").val(null);
    $("#ftelf").val(null);
    $("#fcom").val(null);
    $("#fmres").val(null);
    $("#fpet").val(null);
    $("#fconf").prop("checked", false);
  }

  function modificarReserva(elem) {
    $.ajax({
      type: "GET",
      url: "/reservas/" + elem.getAttribute('id-reserva'),
      success: function (data) {
        rellenarFormulario(data);
        abrirModal('id01');
      },
      error: function () {
        alert("Reserva no encontrada")
      },
    })
  }

  function rellenarFormulario(data) {
    $("#fid").val(data.id);
    $("#fnombre").val(data.nombre);
    $("#fmail").val(data.mail);
    $("#ftelf").val(data.telefono);
    $("#fcom").val(data.numeroComensales);
    $("#fmres").val(data.momentoReserva);
    $("#fpet").val(data.peticiones);
    $("#fconf").prop("checked", data.confirmada);
  }

  function borrarReserva(elem) {
  }
</script>
<div class="w3-row">
  <h2>Reservas confirmadas <span th:text="${dia}"></span></h2>
  <form action="#">
    <label for="sel-dia">Día</label>
    <input type="date" class="w3-border" th:attr="value=${dia}" id="sel-dia" name="dia" required>
    <button id="buscar-dia" class="w3-button w3-blue" type="button">Consultar</button>
  </form>
  <span id="dia-seleccionado" th:text="${dia}" hidden></span>
  <br>
</div>
<div class="w3-display-container" th:if="${#lists.isEmpty(reservas)}">
  <div class="ww3-display-topmiddle w3-xxlarge">Parece que no hay reservas</div>
</div>
<table class="w3-table-all w3-card-4" th:if="${not #lists.isEmpty(reservas)}">
  <tr>
    <th>Hora</th>
    <th>Nombre</th>
    <th>Mail</th>
    <th>Teléfono</th>
    <th>Número de comensales</th>
    <th>Peticiones</th>
    <th></th>
  </tr>
  <tr th:each="r:${reservas}" th:attr="id=${r.id}">
    <td th:text="${r.hora}"></td>
    <td th:text="${r.nombre}"></td>
    <td th:text="${r.mail}"></td>
    <td th:text="${r.telefono}"></td>
    <td th:text="${r.numeroComensales}"></td>
    <td th:text="${r.peticiones}"></td>
    <td>
      <button class="w3-button w3-blue" th:attr="id-reserva=${r.id}"
              onclick="modificarReserva(this);">
        Modificar
      </button>
      <button class="w3-button w3-red" th:attr="id-reserva=${r.id}" onclick="borrar(this);">Borrar
      </button>
    </td>
  </tr>
</table>
<br/>
<div th:if="${last} > 1" class="w3-content">
  <div class="w3-bar w3-center">
    <button th:each="i : ${#numbers.sequence(0, last, 1)}"
            th:class="${i == current} ? 'w3-bar-item w3-button w3-blue' : 'w3-bar-item w3-button'"
            th:text="${i + 1}" th:attr="pag=${i}" onclick="saltaPaginaConf(this)"></button>
  </div>
</div>
<br>
<button onclick="abrirModal('id01')"
        class="w3-button w3-blue w3-block">Nueva reserva
</button>
<div id="id01" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-blue">
        <span onclick="cerrarModal();"
              class="w3-button w3-large w3-display-topright">&times;</span>
      <h2>Nueva reserva</h2>
    </header>
    <div class="w3-container">
      <form id="formReserva">
        <input id="fid" type="text" disabled hidden>
        <p><input id="fnombre" class="w3-input w3-padding-16 w3-border" type="text" name="nombre"
                  placeholder="Nombre" required></p>
        <p><input id="fmail" class="w3-input w3-padding-16 w3-border" type="text" name="mail"
                  placeholder="Mail" required></p>
        <p><input id="ftelf" class="w3-input w3-padding-16 w3-border" type="text" name="telefono"
                  placeholder="Teléfono"></p>
        <p><input id="fcom" class="w3-input w3-padding-16 w3-border" type="number"
                  name="numeroComensales" placeholder="¿Cuántos serán?" required></p>
        <p><input id="fmres" class="w3-input w3-padding-16 w3-border" type="datetime-local"
                  name="momentoReserva" placeholder="¿Cuándo será?" required
                  th:attr="value=${fecha}"></p>
        <p><input id="fpet" class="w3-input w3-padding-16 w3-border" type="text" name="peticiones"
                  placeholder="Algo que debamos saber"></p>
        <p><label for="fconf">Confirmada: </label><input id="fconf"
                                                         class="w3-input w3-padding-16 w3-border"
                                                         type="checkbox" name="confirmada"
                                                         placeholder="Confirmada"></p>
        <p>
          <button class="w3-button w3-light-grey w3-block" type="button" id="enviarReserva">Enviar
          </button>
        </p>
      </form>
    </div>
  </div>
</div>