<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="es">
<head>
  <title>Condiciones legales - La Bella Italia</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
  <style>
    h1, p {
      font-family: "Amatic SC", sans-serif;
      font-size: x-large;
    }
    a {
      text-decoration: none;
    }
  </style>
</head>
<body class="w3-black">
<div class="w3-content w3-center">
  <a href="/">
  <h1 class="w3-text-white w3-hide-small" style="font-size:100px"><b>La Bella <span
      class="w3-text-green">It</span>al<span class="w3-text-red">ia</span></b></h1>
  </a>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet magna tristique, porta
    purus eu, sodales ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. In euismod fringilla lobortis. Integer maximus erat arcu, laoreet
    eleifend turpis aliquam nec. Nam et fermentum odio. Phasellus malesuada faucibus arcu id
    vestibulum. Donec interdum lorem ac est facilisis, efficitur lacinia nulla porta. Donec non enim
    nibh. Vivamus ultrices massa quis semper euismod. Aenean tempus in leo sed accumsan. Aliquam
    erat volutpat. Aliquam vel blandit leo. Sed ut suscipit dui.
  </p>
  <p>
    Nullam eu tempor arcu, non congue orci. Aliquam erat volutpat. Sed eu metus vel felis ultricies
    pulvinar eu nec enim. Mauris vitae libero malesuada, sollicitudin massa at, efficitur augue.
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas. Nulla elit quam, tristique
    suscipit euismod et, cursus mattis justo. Vivamus lectus lorem, imperdiet vel tempus ut, mollis
    cursus ipsum. Nunc ornare justo ac felis malesuada, ut fringilla erat sodales. Sed quis mi
    sapien.
    Pellentesque et pretium ante, sit amet eleifend diam. Nulla posuere vulputate mi.
  </p>
  <p>
    Nam vel nunc ligula. In vehicula elementum nisl vitae facilisis. Nam volutpat lacus vitae justo
    fermentum aliquam. Praesent consequat urna ut arcu maximus, ut tincidunt velit auctor. Mauris
    vel ipsum quis elit aliquam iaculis. Morbi ut tempus libero, et vehicula mauris. Praesent tortor
    nunc, efficitur et nibh egestas, elementum dapibus massa. Duis id mi eu justo faucibus
    sollicitudin.
  </p>
  <p>
    Donec tempus turpis leo, quis tempor augue molestie nec. Integer blandit congue est, id semper
    turpis cursus ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia
    curae; Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus quis turpis odio.
    Integer ac odio vitae eros vestibulum auctor a quis tortor. Suspendisse congue scelerisque
    molestie.
  </p>
  <p>
    Praesent ut sollicitudin nibh. Vivamus sapien enim, aliquam a lectus id, fringilla finibus
    augue. Vivamus vitae enim urna. Vestibulum et tellus venenatis mauris lobortis efficitur.
    Pellentesque ante nisi, cursus id tempor eu, euismod eu est. Ut faucibus, diam a laoreet
    convallis, nulla tortor vulputate urna, vel dignissim lorem lectus ac nunc. Sed nec rhoncus
    nibh, vel posuere mauris. Vestibulum id scelerisque metus. Phasellus sapien eros, dictum ac
    lobortis id, porttitor blandit elit. Proin urna mauris, lacinia id pharetra vitae, fringilla ac
    felis. Aliquam metus diam, convallis non dapibus sit amet, consectetur quis nisl. Morbi dolor
    urna, ultricies ut imperdiet in, auctor sit amet lacus. Phasellus efficitur, velit nec luctus
    semper, dui magna fringilla erat, malesuada imperdiet neque ex sed enim. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </p>
</div>
</body>
</html>