<!DOCTYPE html>
<html lang="es">
<head>
  <title>La Bella Italia</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
  <style>
    body, html {
      height: 100%
    }

    body, h1, h2, h3, h4, h5, h6 {
      font-family: "Amatic SC", sans-serif
    }

    .menu {
      display: none
    }

    .bgimg {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("https://www.w3schools.com/w3images/pizza.jpg");
      min-height: 90%;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#enviarReserva").click(function () {

        const array = $("#formReserva").serializeArray();
        const json = {};
        $.each(array, function () {
          json[this.name] = "" + this.value || "";
        });
        $.ajax({
          type: "POST",
          url: "/reservas",
          data: JSON.stringify(json),
          contentType: "application/json; charset=utf-8",
          success: function () {
            $("#enviarReserva").attr('disabled', 'disabled');
          },
          error: function () {
            alert("Parece que algo ha ido mal, prueba más tarde...")
          },
        });
      });
    });
  </script>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <a href="#" class="w3-bar-item w3-button">HOME</a>
    <a href="#menu" class="w3-bar-item w3-button">MENÚ</a>
    <a href="#acerca" class="w3-bar-item w3-button">ACERCA</a>
    <a href="#contacto" class="w3-bar-item w3-button">CONTACTO</a>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-padding">
    <span class="w3-tag w3-xlarge">Open from 10am to 12pm</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white w3-hide-small" style="font-size:100px"><b>La<br>Bella <span
        class="w3-text-green">It</span>al<span class="w3-text-red">ia</span></b></span>
    <span class="w3-text-white w3-hide-large w3-hide-medium" style="font-size:60px"><b>La<br>Bella Italia</b></span>
    <p><a href="#menu" class="w3-button w3-xxlarge w3-black  w3-hover-green">Enséñame el menú</a>
    </p>
  </div>
</header>

<!-- Menu Container -->
<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
  <div class="w3-content">

    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">El menú</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey">
      <a href="javascript:void(0)" onclick="openMenu(event, 'Pizzas');" id="myLink">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Pizzas</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Ensaladas');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Ensaladas</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Aperitivos');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Aperitivos</div>
      </a>
    </div>

    <div id="Pizzas" class="w3-container menu w3-padding-32 w3-white">
      <span th:each="p, stat : ${pizzas}">
        <h1>
          <b th:text="${p.nombre}"></b>
          <span class="w3-tag w3-red w3-round" th:text="${p.etiqueta}"></span>
          <span class="w3-right w3-tag w3-dark-grey w3-round" th:text="${p.precio + '€'}"></span>
        </h1>
        <p class="w3-text-grey">
          <span th:each="i, iterStat : ${p.ingredientes}"
                th:text="${i} + ${!iterStat.last ? ', ' : ''}">
        </span>
        </p>
        <hr th:if="${not stat.last}">
      </span>
    </div>

    <div id="Ensaladas" class="w3-container menu w3-padding-32 w3-white">
      <span th:each="p, stat : ${ensaladas}">
        <h1>
          <b th:text="${p.nombre}"></b>
          <span class="w3-tag w3-red w3-round" th:text="${p.etiqueta}"></span>
          <span class="w3-right w3-tag w3-dark-grey w3-round" th:text="${p.precio + '€'}"></span>
        </h1>
        <p class="w3-text-grey">
          <span th:each="i, iterStat : ${p.ingredientes}"
                th:text="${i} + ${!iterStat.last ? ', ' : ''}">
        </span>
        </p>
        <hr th:if="${not stat.last}">
      </span>
    </div>

    <div id="Aperitivos" class="w3-container menu w3-padding-32 w3-white">
      <span th:each="p, stat : ${aperitivos}">
        <h1>
          <b th:text="${p.nombre}"></b>
          <span class="w3-tag w3-red w3-round" th:text="${p.etiqueta}"></span>
          <span class="w3-right w3-tag w3-dark-grey w3-round" th:text="${p.precio + '€'}"></span>
        </h1>
        <p class="w3-text-grey">
          <span th:each="i, iterStat : ${p.ingredientes}"
                th:text="${i} + ${!iterStat.last ? ', ' : ''}">
        </span>
        </p>
        <hr th:if="${not stat.last}">
      </span>
    </div>

  </div>
</div>

<!-- Acerca Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="acerca">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Acerca</h1>
    <p>La Bella Italia fue fundada en el año blablabla por Mr. Italiano en lorem ipsum dolor sit
      amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat.</p>
    <p><strong>¿Nuestro Chef?</strong> El mismo Mr. Italiano<img src="/images/chef.jpg"
                                                                 style="width:150px"
                                                                 class="w3-circle w3-right"
                                                                 alt="Chef"></p>
    <p>Estamos orgullosos de nuestros interiores.</p>
    <img src="/images/onepage_restaurant.jpg" style="width:100%"
         class="w3-margin-top w3-margin-bottom" alt="Restaurant">
    <h1><b>Horarios</b></h1>

    <div class="w3-row">
      <div class="w3-col s6">
        <p>Lunes y Martes CERRADO</p>
        <p>Miércoles 10.00 - 24.00</p>
        <p>Jueves 10:00 - 24:00</p>
      </div>
      <div class="w3-col s6">
        <p>Viernes 10:00 - 12:00</p>
        <p>Sábado 10:00 - 23:00</p>
        <p>Domingo Cerrado</p>
      </div>
    </div>

  </div>
</div>

<!-- Image of location/map -->
<img src="/images/map.jpg" class="w3-image w3-greyscale" style="width:100%;" id="contacto">

<!-- Contacto -->
<div class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contacto</h1>
    <p>Puedes encontrarnos en c/Falsa 123 en Algún Lugar o llamarnos al 666-66-66-66</p>
    <p><span class="w3-tag">PVI</span> Ofrecemos servicio completo de catering para cualquier
      evento, grande o pequeño. Entendemos sus necesidades y atenderemos la comida para satisfacer
      los criterios más importantes de todos, tanto en apariencia como en sabor./</p>
    <p class="w3-xxlarge"><strong>Reserva</strong> una mesa</p>
    <form id="formReserva">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" name="nombre"
                placeholder="Tu nombre" required></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" name="mail"
                placeholder="Tu mail" required></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" name="telefono"
                placeholder="Tu teléfono"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="number" name="numeroComensales"
                placeholder="¿Cuántos seréis?" required></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" name="momentoReserva"
                placeholder="¿Cuándo será?" required th:attr="value=${fecha}"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" name="peticiones"
                placeholder="Algo que debamos saber"></p>
      <p>
        <label for="condiciones">
          Al marcar esta casilla, acepto las <a href="/condiciones">política de privacidad</a>
        </label>
        <input class="w3-input w3-padding-16 w3-border" type="checkbox" id="condiciones" required>
      </p>
      <p>
        <button class="w3-button w3-light-grey w3-block" type="button" id="enviarReserva">Enviar
        </button>
      </p>
    </form>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
                   class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>
  // Tabbed Menu
  function openMenu(evt, menuName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("menu");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(menuName).style.display = "block";
    evt.currentTarget.firstElementChild.className += " w3-red";
  }

  document.getElementById("myLink").click();
</script>

</body>
</html>
